html, body {
  margin: 1vw;
  padding: 0;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bubbleControls, #barControls {
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: center;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

#info {
  color: #666;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.hidden{
  display: none;
}

g.sector-key-element >  text {
  fill: #fff;
}

h1{
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  font-weight: normal;
  /*color: hsl(108,56%,48%);*/
}


#bubbleChart {
  max-height: 85vh
}

circle {
/*  stroke: white;
  stroke-width: 1.5;*/
  cursor: pointer;
  /*opacity: 0.8;*/
    /*mix-blend-mode: difference;*/
  pointer-events: bounding-box;
}
circle.credit {
  stroke-width: 2px;
  fill: #fff;
}


circle:hover{
  filter: brightness(50%);
}

.sectorLabel{
  text-anchor: middle;
  font-size: 3rem;
  pointer-events:  none;
  fill: rgba(220,220,220,0.7);
  visibility: hidden;
  /*mix-blend-mode: difference;*/
}

.x-axis > .tick > text{
  font-size: 1rem;
}
.x-axis > line.domain {
    fill: "none";
    stroke: "none";
}

.barMainTitle{
  fill: #666;
  font-size: 2rem
}

.barSubTitle{
  fill: #000;
  font-size: 1rem
}

.barAnnotation{
  font-style: italic;
  font-size: 0.85rem;
  fill: #666;  
}

.barAnnotation.land{
  fill: #0C8B8C;  
}

#barXaxis.axis > path.domain {
  stroke: #fff;
}

#barYaxis.axis > .tick {
  opacity: 0;
  pointer-events: none;
}
.barLabel{
  fill: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px #000;
}
.barLabelValue{
  fill: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px #000;
}
.barLabelUnit{
  fill: #fff;
  font-size: 0.5rem;
  text-shadow: 1px 1px #000;
}
